*{
    text-align: center;
    background-color: aliceblue;
}

img{
   border: 1px solid black;
   border: 100%;
}

#rw{
    font-family: "Black Ops One", system-ui;
    color: black;
}

#am{
    color: black;
}

#helloa{
    font-size: 1.5rem !important;
    color: black !important;
}