*{
    background-color: aliceblue;
}

#go{
    display: flex;
    gap: 10px;
}

img{
   border: 1px solid black;
   border: 100%;
}

#am{
    color: black;
}

#helloa{
    font-size: 1.5rem;
    color: black;
}

.we{
    font-family: sans-serif;
}

#mry{
    outline: auto;
    outline-color: red;
    padding: 5px;
}